.EE {
    background-color:pink;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: pink;
    min-width: 100vw;
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.homeButton {
    border: 1px ridge #ccc;
    border-radius: 8px;
    background-color: #e7e7e7;
    min-width: 50px;
    min-height: 50px;
    font-size: xx-large;
}

.homeButton:hover {
    background-color: whitesmoke;
}